.pokedex__container{
    max-width: 1400px;
    margin: 20px auto;
    background-color: white;
}
.pokedex__welcome{
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}

.pokedex__welcome span{
    color: #DD1A1A;
    font-family: var(--principal-font);
    font-weight: 900;
}

.pokedex__form{
    text-align: center;
}

.pokedex__input{
    width: 75%;
    height: 33px;
    border-radius: 10px ;
    border: none;
    margin-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

@media (min-width: 768px) {
    .pokedex__input{
        width: 50%;
    
    }
    
}

.pokedex__btn {
    height: 33px;
    width: 33px;
    font-size: 20px;
    background-color: #d67979;
    margin-top: 4px;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 200ms ease;

}

.pokedex__btn:hover{
    background-color: #DD1A1A;
    border-radius: 50%;
}

.pokedex__select{
    margin: 20px 0 28px 0;
    border: none;
    background-color: #d67979;
    width: 25%;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: white;
    transition: all 200ms ease;
}

.pokedex__select:hover{
    background-color: #DD1A1A;
}

.pokedex__section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pokedex__pages-ul{
    display: flex;
    justify-content: center;
    margin-top: 10px;


}

.pokedex__pages-ul li{
    padding-left: 5px;
}

.icon, .icon2, .icon3{
    cursor: pointer;
}

.icon:hover, .icon2:hover, .icon3:hover{
    color: #DD1A1A;
}