.pokemon__firstsection{
    display: flex;
    justify-content: center;
}

.pokemon__id{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.pokemon__name{
    display: block;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

.pokemon__stats1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.pokemon__wh{
    text-align: center;
}

.pokemon__wh h4{
    font-size: 25px;
}

.pokemon__wh h5{
    color: gray;
}

.pokemon__stats2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.pokemon__type{
    margin-bottom: 10px;
    width: 110px;
    height: 30px;
    text-align: center;
}

.pokemon__ht{
    text-align: center;
}

.pokemon__div{
    color: white;
    margin: 10px;
}
.pokemon__div-habi{
    color: gray;
}

.pokemon__stats{
    display: flex;
    flex-direction: column;
}

.pokemon__stats-title{
    text-align: center;
    padding: 15px 0;
    font-size: 25px;
    font-weight: 900;
}

.pokemon__stat-barGray{
    background-color: #f7f7f7;
    height: 25px;
}

.pokemon__stat-barProgress{
    background: linear-gradient(90deg, #FCd676 -2.25%, #e6901e 133.18%);
    height: 25px;
    width: 50%;
}



@media (min-width: 700px) {
    .pokemon__stats-info{
        width: 75%;
        /* max-width: 1400px; */
        margin: 0 auto;
    }
    .contenedor{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    }

    .pokemon__stats1{
    display: flex;
    gap: 50%;
    padding-top: 20px;
}
    .pokemon__stats2{
    display: flex;
    gap: 45%;
    padding-top: 20px;
}
    
}


.bg-lg-normal {
    background: #735259;
  }
  .bg-lg-fighting {
    background: #96402A;
  }
  .bg-lg-flying {
    background: #beb14c;
  }
  .bg-lg-poison {
    background: #5B3184;
  }
  .bg-lg-ground {
    background: #654008;
  }
  .bg-lg-rock {
    background: #7E7E7E;
  }
  .bg-lg-bug {
    background: #E52D2D;
  }
  .bg-lg-ghost {
    background: #323569;
  }
  .bg-lg-steel {
    background: #5E736C;
  }
  .bg-lg-fire {
    background: #F96D6F;
  }
  .bg-lg-water {
    background: #133258;
  }
  .bg-lg-grass {
    background: #7EC6C5;
  }
  .bg-lg-electric {
    background: #0C1395;
  }
  .bg-lg-psychic {
    background: #E52D2D;
  }
  .bg-lg-ice {
    background: #6FBEDF;
  }
  .bg-lg-dragon {
    background: #478A93;
  }
  .bg-lg-dark {
    background: #030706;
  }
  .bg-lg-fairy {
    background: #971B45;
  }
  .bg-lg-unknown {
    background: #696767;
  }
  .bg-lg-shadow {
    background: #6c31a3;
  }


    /* background linear gradient */

.bg-normal {
    background: linear-gradient(270deg, #735259, gray);
    height: 25px;
    width: 50%;
  }
  .bg-fighting {
    background: linear-gradient(270deg, #96402A, gray);
    height: 25px;
    width: 50%;
  }
  .bg-flying {
    background: linear-gradient(270deg, #beb14c, gray);
    height: 25px;
    width: 50%;
  }
  .bg-poison {
    background: linear-gradient(270deg, #5B3184, gray);
    height: 25px;
    width: 50%;
  }
  .bg-ground {
    background: linear-gradient(270deg, #654008, gray);
    height: 25px;
    width: 50%;
  }
  .bg-rock {
    background: linear-gradient(270deg, #7E7E7E, gray);
    height: 25px;
    width: 50%;
  }
  .bg-bug {
    background: linear-gradient(270deg, #E52D2D, gray);
    height: 25px;
    width: 50%;
  }
  .bg-ghost {
    background: linear-gradient(270deg, #323569, gray);
    height: 25px;
    width: 50%;
  }
  .bg-steel {
    background: linear-gradient(270deg, #5E736C, gray);
    height: 25px;
    width: 50%;
  }
  .bg-fire {
    background: linear-gradient(270deg, #F96D6F, gray);
    height: 25px;
    width: 50%;
  }
  .bg-water {
    background: linear-gradient(270deg, #133258, gray);
    height: 25px;
    width: 50%;
  }
  .bg-grass {
    background: linear-gradient(270deg, #7EC6C5,gray);
    height: 25px;
    width: 50%;
  }
  .bg-electric {
    background: linear-gradient(270deg, #0C1395, gray);
    height: 25px;
    width: 50%;
  }
  .bg-psychic {
    background: linear-gradient(270deg, #E52D2D, gray);
    height: 25px;
    width: 50%;
  }
  .bg-ice {
    background: linear-gradient(270deg, #6FBEDF, gray);
    height: 25px;
    width: 50%;
  }
  .bg-dragon {
    background: linear-gradient(270deg, #478A93, gray);
    height: 25px;
    width: 50%;
  }
  .bg-dark {
    background: linear-gradient(270deg, #030706, gray);
    height: 25px;
    width: 50%;
  }
  .bg-fairy {
    background: linear-gradient(270deg, #971B45, gray);
    height: 25px;
    width: 50%;
  }
  .bg-unknown {
    background: linear-gradient(270deg, #696767, gray);
    height: 25px;
    width: 50%;
  }
  .bg-shadow {
    background: linear-gradient(270deg, #6c31a3, gray);
    height: 25px;
    width: 50%;
  }